/* 
 * made by indivisible for serve.life
 */

/***** Major sections *****/

    body {
        background-color: black;
        background-image: url('bgrnd.gif');
        font-family: 'Roboto Condensed', sans-serif;
        color: #999;
    }
    /* set all elements padding and margins to 0 */
    div, h1, h2, h3, p, ul, ol, li {
        margin: 0;
        padding: 0;
        text-transform: lowercase;
    }
    /* main section, centered to page */
    #central {
        width:  50%;
        height: 50%;
        min-width: 40em;
        min-height: 21em;
        margin: auto;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    }


/***** Positioning *****/

    /*** define sizes ***/
    .half-vertical, .half-horizontal, .quarter {
        position: absolute;
    }
    .half-vertical {
        width: 50%;
        height: 100%;
    }
    .half-horizontal {
        width: 100%;
        width: 50%;
    }
    .quarter {
        width:  50%;
        height: 50%;
    }

    /* div to allow relative > absolute positioning within absolute sections */
    .inner {
        width: 100%;
        height: 100%;
        position: relative;
    }

    /*** position sections and align text ***/
    .vertleft, .topleft, .bottomleft {
        text-align: left;
        left: 0;
    }
    .vertright, .topright, .bottomright {
        text-align: right;
        right: 0;
    }
    .horiztop, .topleft, .topright {
        top: 0;
    }
    .horizbottom, .bottomleft, .bottomright {
        bottom: 0;
    }

    /* section within areas to hold content */
    div.content {
        width: 100%;
        position: absolute;
    }
    .topleft div.content, .topright div.content {
        top: 0;
    }
    .bottomleft div.content, .bottomright div.content {
        bottom: 0;
    }
    /*** control the content display ***/
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .top {
        top: 0;
    }
    .bottom {
        bottom: 0;
    }


/***** Common style usage *****/

    a {
        color: inherit;
        text-decoration: inherit;
    }
    a:hover {
        text-decoration: none;
        border-bottom: 1px dotted #999;
    }
    h1, h2, h3, p {}
    h1 {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        line-height: 0.85;
        font-size: 3.5em;
    }
    h1, h2 {
        font-weight: 700;
    }
    ul {
        list-style: none;
        text-align: left;
        padding-left: 1em;
    }
    li {
        padding-left: 1.2em;
        text-indent: -1em;
        font-size: 1.2em;
    }
    li::before {
        content: "\203a";
        padding-right: 0.3em;
        position: absolute;
        text-align: right;
        left: 0.5em;
    }
    li:hover::before {
        content: "\203a\203a\203a";
    }


/***** Specialised cases *****/

    .title, .listhead, .errorcode {
        color: #fefefe;
    }
    .title .content {
        width: auto;
    }
    .title {
        font-size: 3em;
    }
    .tagline {
        padding-left: 1em;
        font-size: 1.4em;
        font-style: italic;
    }
    .tidbit {
        font-size: 1.8em;
    }
    .issue {
        font-size: 2.2em;
        color: #eee;
    }
    .listhead {
        text-align: left;
        font-size: 1.5em;
    }
    .errorcode {
        font-size: 8em;
    }


/***** CSS animations and effects *****/

    /*** Site title animation ***/
    .title h1 {
        -webkit-transition: all 0.6s ease-in-out;
           -moz-transition: all 0.6s ease-in-out;
             -o-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
                transition: all 0.6s ease-in-out;
    }

    .title:hover #title1 {
        -webkit-transform: translateX(0.5em);
           -moz-transform: translateX(0.5em);
             -o-transform: translateX(0.5em);
            -ms-transform: translateX(0.5em);
                transform: translateX(0.5em);
    }

    .title:hover #title2 {
        -webkit-transform: translateX(1.0em);
           -moz-transform: translateX(1.0em);
             -o-transform: translateX(1.0em);
            -ms-transform: translateX(1.0em);
                transform: translateX(1.0em);
    }


    /*** Tagline animation ***/
    .tagline p {
        -webkit-transition: all 0.6s ease-in-out;
           -moz-transition: all 0.6s ease-in-out;
             -o-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
                transition: all 0.6s ease-in-out;
    }
    .tagline:hover #tagline1 {
        -webkit-transform: translateX(0.4em);
           -moz-transform: translateX(0.4em);
             -o-transform: translateX(0.4em);
            -ms-transform: translateX(0.4em);
                transform: translateX(0.4em);
    }
    .tagline:hover #tagline2 {
        -webkit-transform: translateX(0.8em);
           -moz-transform: translateX(0.8em);
             -o-transform: translateX(0.8em);
            -ms-transform: translateX(0.8em);
                transform: translateX(0.8em);
    }
    .tagline:hover #tagline3 {
        -webkit-transform: translateX(1.2em);
           -moz-transform: translateX(1.2em);
             -o-transform: translateX(1.2em);
            -ms-transform: translateX(1.2em);
                transform: translateX(1.2em);
    }


/*
 * Comment and uncomment following lines to hide or show borders for debugging
 */

/*
#central    {  border: 1px solid white;    }
.inner      {  border: 1px dotted blue;    }
.content    {  border: 1px solid yellow;   }
h1,h2,h3,p  {  border: 1px solid green;    }
*/
